---
console.log('Server only');
---

<nav>
  <ul class="flex gap-2">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
